Multiindexing a dataframe can make data pulling out of a large frame much easier. It is basically the generation of a sub-df based on the primary, without altering any aspect of the primary df. This allows you to pull out, manipulate, or do whatever to columns and/or rows without altering the raw data. The most powerful use of multindexing is the averaging of same column and rows as will be shown below. 

It is fairly easy to generate the multiindex. The most difficult part comes with correct calling of the new frame. It just takes some to get used to it. Think of the calling as the structure of the frame itself. It will be helpful to have the multiindex frame in view as you attempt to call it. 

Learning this skill can save a lot of time, reduce risk of accidental raw data maniuplation, and also save considerable CPU power. Looping through a df containing only your rows of interest instead of the entire raw data output will save you considerable time in your code. 

have fun!

In [8]:
# Generate a basic df for an example..sorry as this df developed it made less sense but nonetheless..
data = [['Arya', 'Stark', '10'], ['Arya', 'Stark', '2'], ['Ned', 'Stark', '2'],['Sansa', 'Stark', '2'], ['Jon', 'Snow', '8'], ['Jon', 'Snow', '30']]

# Use the library pandas to generate this play df
import pandas as pd 
# Generate a df using a pandas provided function & seperate the first and second variables (associated together) by columns
df = pd.DataFrame(data, columns = ['First Name', 'Last Name', 'Kills'])
# The output will depend on the data and the columns you defined. To the left of the columns are a list of numbers, known as the index. 
df

  First Name Last Name Kills
0       Arya     Stark    10
1       Arya     Stark     2
2        Ned     Stark     2
3      Sansa     Stark     2
4        Jon      Snow     8
5        Jon      Snow    30

In [9]:
# Generate a temporary df containing only the columns you are interested in. 
# If you are not interested in any data manipulation and purely want to save CPU power by coding with a smaller frame, you can stop here. 
temporary_df = df[['First Name', 'Kills']]
# Generate a multindexed frame where now you are averaging the same columns based on a second column in consideration 
    # The term .groupby defines the constant that will determine how to group the aggregates 
    # The aggregates (.agg) is the manipulation you want to do to the df. Here, the column 'First Name' will be aggregated by its mean, which will then generate a std dev 
        # this is the most popular, and perhaps most useful reasoning for why to use multiindex
averaged_kills_df = temporary_df.groupby(['First Name']).agg(['mean', 'std'])
averaged_kills_df

            Kills
             mean        std
First Name
Arya         51.0   5.656854
Jon         415.0  15.556349
Ned           2.0        NaN
Sansa         2.0        NaN